docs/src
[
    {
        "id": "6c9c2add.018314",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "19178f5f.43cd01",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "548bb4e2.a5b5ec",
        "type": "arduino-board",
        "z": "",
        "device": ""
    },
    {
        "id": "bda76402.d81148",
        "type": "arduino-board",
        "z": "",
        "device": "/dev/ttyACM0"
    },
    {
        "id": "b16ec265.121ed",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6a66ce76.1c955",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "9775e398.b535d",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "6a66ce76.1c955",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "162df6d.653b309",
        "type": "function",
        "z": "6c9c2add.018314",
        "name": "REST POST",
        "func": "var dev_url = \"http://node12.codenvy.io:39232/api/chavevalor\"\nvar valor = msg.payload;\nvar data = {\n    \"datahora\" : \"1234\",\n    \"chave\" : \"luminosidade\",\n    \"valor\" : valor\n};\n\nvar msg = {\n    \"method\" : \"POST\",\n    \"url\" : dev_url,\n    \"payload\" : JSON.stringify(data),\n    \"headers\" : {\n        \"Content-type\" : \"application/json; charset=UTF-8\"\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395.5,
        "y": 207,
        "wires": [
            [
                "eab70c6a.892f28"
            ]
        ]
    },
    {
        "id": "eab70c6a.892f28",
        "type": "http request",
        "z": "6c9c2add.018314",
        "name": "POST",
        "method": "use",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 533.5,
        "y": 116,
        "wires": [
            [
                "60410dc8.79d8fc"
            ]
        ]
    },
    {
        "id": "a3bcb102.303f1",
        "type": "delay",
        "z": "6c9c2add.018314",
        "name": "LE A CADA 5s",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 168.5,
        "y": 202,
        "wires": [
            [
                "162df6d.653b309"
            ]
        ]
    },
    {
        "id": "7637f925.444af",
        "type": "arduino in",
        "z": "6c9c2add.018314",
        "name": "LDR",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "bda76402.d81148",
        "x": 142.5,
        "y": 61,
        "wires": [
            [
                "a3bcb102.303f1"
            ]
        ]
    },
    {
        "id": "6dca064a.047e3",
        "type": "inject",
        "z": "19178f5f.43cd01",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 104.5,
        "y": 94,
        "wires": [
            [
                "5f0cc160.08de68"
            ]
        ]
    },
    {
        "id": "5f0cc160.08de68",
        "type": "http request",
        "z": "19178f5f.43cd01",
        "name": "RETORNO",
        "method": "GET",
        "ret": "obj",
        "url": "http://node12.codenvy.io:39232/api/chavevalor",
        "tls": "",
        "x": 193,
        "y": 236,
        "wires": [
            [
                "5b1e7427.a44b3c"
            ]
        ]
    },
    {
        "id": "5b1e7427.a44b3c",
        "type": "function",
        "z": "19178f5f.43cd01",
        "name": "ULTIMO DADO",
        "func": "lista = msg.payload;\ntamanho = lista.length;\nultimo = lista[tamanho-1];\nultimo_valor = ultimo.valor;\nmsg.payload = ultimo_valor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 287.5,
        "y": 159,
        "wires": [
            [
                "61a25d41.29ca84",
                "da2ae1a1.45da1",
                "ce9261d2.68ae78"
            ]
        ]
    },
    {
        "id": "61a25d41.29ca84",
        "type": "ui_button",
        "z": "19178f5f.43cd01",
        "name": "LIGA",
        "group": "9775e398.b535d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "LIGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 500.5,
        "y": 111,
        "wires": [
            [
                "b8603d71.60235",
                "a7840a40.4905b"
            ]
        ]
    },
    {
        "id": "b8603d71.60235",
        "type": "arduino out",
        "z": "19178f5f.43cd01",
        "name": "LED",
        "pin": "13",
        "state": "OUTPUT",
        "arduino": "bda76402.d81148",
        "x": 758.5,
        "y": 128,
        "wires": []
    },
    {
        "id": "da2ae1a1.45da1",
        "type": "ui_button",
        "z": "19178f5f.43cd01",
        "name": "DESLIGA",
        "group": "9775e398.b535d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DESLIGA",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "false",
        "payloadType": "bool",
        "topic": "",
        "x": 498.5,
        "y": 224,
        "wires": [
            [
                "b8603d71.60235",
                "a7840a40.4905b"
            ]
        ]
    },
    {
        "id": "a7840a40.4905b",
        "type": "debug",
        "z": "19178f5f.43cd01",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 773.5,
        "y": 221,
        "wires": []
    },
    {
        "id": "ce9261d2.68ae78",
        "type": "ui_toast",
        "z": "19178f5f.43cd01",
        "position": "bottom right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 436.5,
        "y": 293,
        "wires": []
    },
    {
        "id": "60410dc8.79d8fc",
        "type": "debug",
        "z": "6c9c2add.018314",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 673.5,
        "y": 191,
        "wires": []
    }
]
